body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: large;
}

.justificarTexto p {
    line-height: 1.5;
    text-align: justify;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500; /* Si deseas que sea Thin 100 */
    color: #FF975E;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500; /* Si deseas que sea Thin 100 */
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500; /* Si deseas que sea Thin 100 */
    color: #FF975E;
}


input[type="submit"]:hover {
    background-color: #FF7F55; /* Cambia este color según tus preferencias */
}


form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label, input, select {
    display: block;
    margin: 10px 0;
    width: 100%;
}

input[type="submit"] {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #FF975E; /* Cambia este color según tus preferencias */
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
}

input[type="submit"]:hover {
    background-color: #FF7F55; /* Cambia este color según tus preferencias */
}

.oculto {
    display: none;
}

.seccion {
    display: none;
}